n8n_platform/autononmous_finanacial_forecasting/Autononmous_Finanacial_Forecasting_Agent.json
{
  "name": "Autononmous_Finanacial_Forecasting_Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "db751a4f-d616-4693-a6ad-dde3b36e1a5d",
      "name": "Daily Forecast Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        496
      ]
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__erp_revenue_api_endpoint__>",
        "options": {}
      },
      "id": "c9a00dfd-bbd8-4573-b6f7-b814b6e5a13d",
      "name": "Fetch Revenue Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__erp_expense_api_endpoint__>",
        "options": {}
      },
      "id": "26f3c64b-dd02-4770-ba91-fe54a3e4ef02",
      "name": "Fetch Expense Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        496
      ]
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__payroll_api_endpoint__>",
        "options": {}
      },
      "id": "98b1165c-127a-48e3-9eb9-2efc352d29b6",
      "name": "Fetch Payroll Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        688
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "6d14660f-93e4-4cc6-9881-66429eb92aa1",
      "name": "Combine Financial Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "revenue_trend",
              "value": "={{ $json.revenue }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "expense_trend",
              "value": "={{ $json.expenses }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "payroll_trend",
              "value": "={{ $json.payroll }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "net_cash_flow",
              "value": "={{ $json.revenue - $json.expenses - $json.payroll }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "forecast_date",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "period",
              "value": "={{ $json.period || 'monthly' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "534b8896-3b29-4a01-9e87-df92ca4b535a",
      "name": "Feature Engineering",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Time Series Forecasting using Exponential Smoothing and Trend Analysis\n// This code forecasts revenue, expenses, and payroll using exponential smoothing\n\nconst items = $input.all();\n\n// Helper function for exponential smoothing\nfunction exponentialSmoothing(data, alpha = 0.3) {\n  if (!data || data.length === 0) return [];\n  \n  const smoothed = [data[0]];\n  for (let i = 1; i < data.length; i++) {\n    smoothed[i] = alpha * data[i] + (1 - alpha) * smoothed[i - 1];\n  }\n  return smoothed;\n}\n\n// Helper function to calculate trend\nfunction calculateTrend(data) {\n  if (!data || data.length < 2) return 0;\n  \n  const n = data.length;\n  let sumX = 0, sumY = 0, sumXY = 0, sumX2 = 0;\n  \n  for (let i = 0; i < n; i++) {\n    sumX += i;\n    sumY += data[i];\n    sumXY += i * data[i];\n    sumX2 += i * i;\n  }\n  \n  const slope = (n * sumXY - sumX * sumY) / (n * sumX2 - sumX * sumX);\n  return slope;\n}\n\n// Helper function to forecast next period\nfunction forecast(data, periods = 1, alpha = 0.3, beta = 0.3) {\n  if (!data || data.length === 0) return [];\n  \n  const smoothed = exponentialSmoothing(data, alpha);\n  const trend = calculateTrend(smoothed);\n  \n  const lastValue = smoothed[smoothed.length - 1];\n  const forecasts = [];\n  \n  for (let i = 1; i <= periods; i++) {\n    forecasts.push(lastValue + trend * i);\n  }\n  \n  return forecasts;\n}\n\n// Extract financial data from combined inputs\nconst revenueData = [];\nconst expenseData = [];\nconst payrollData = [];\n\nfor (const item of items) {\n  if (item.json.revenue !== undefined) {\n    revenueData.push(parseFloat(item.json.revenue) || 0);\n  }\n  if (item.json.expenses !== undefined) {\n    expenseData.push(parseFloat(item.json.expenses) || 0);\n  }\n  if (item.json.payroll !== undefined) {\n    payrollData.push(parseFloat(item.json.payroll) || 0);\n  }\n}\n\n// Forecast parameters\nconst forecastPeriods = 3; // Forecast next 3 periods\nconst alpha = 0.3; // Smoothing factor for level\nconst beta = 0.3; // Smoothing factor for trend\n\n// Generate forecasts\nconst revenueForecast = forecast(revenueData, forecastPeriods, alpha, beta);\nconst expenseForecast = forecast(expenseData, forecastPeriods, alpha, beta);\nconst payrollForecast = forecast(payrollData, forecastPeriods, alpha, beta);\n\n// Calculate metrics\nconst revenueAvg = revenueData.reduce((a, b) => a + b, 0) / revenueData.length || 0;\nconst expenseAvg = expenseData.reduce((a, b) => a + b, 0) / expenseData.length || 0;\nconst payrollAvg = payrollData.reduce((a, b) => a + b, 0) / payrollData.length || 0;\n\nconst revenueTrend = calculateTrend(revenueData);\nconst expenseTrend = calculateTrend(expenseData);\nconst payrollTrend = calculateTrend(payrollData);\n\n// Prepare output\nconst output = {\n  forecasts: {\n    revenue: revenueForecast,\n    expenses: expenseForecast,\n    payroll: payrollForecast\n  },\n  historical: {\n    revenue: revenueData,\n    expenses: expenseData,\n    payroll: payrollData\n  },\n  metrics: {\n    revenue: {\n      average: revenueAvg,\n      trend: revenueTrend,\n      nextPeriod: revenueForecast[0] || 0\n    },\n    expenses: {\n      average: expenseAvg,\n      trend: expenseTrend,\n      nextPeriod: expenseForecast[0] || 0\n    },\n    payroll: {\n      average: payrollAvg,\n      trend: payrollTrend,\n      nextPeriod: payrollForecast[0] || 0\n    }\n  },\n  summary: {\n    forecastPeriods: forecastPeriods,\n    projectedNetIncome: (revenueForecast[0] || 0) - (expenseForecast[0] || 0) - (payrollForecast[0] || 0),\n    timestamp: new Date().toISOString()\n  }\n};\n\nreturn [{ json: output }];"
      },
      "id": "38b043aa-337d-4dad-b4fe-df6b0f518a7d",
      "name": "Forecasting Model",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Scenario Simulation: Best Case, Likely Case, and Worst Case\n// Generates three financial scenarios based on forecast data\n\nconst items = $input.all();\nconst forecastData = items[0].json;\n\n// Extract baseline forecasts\nconst baseRevenue = forecastData.metrics?.revenue?.nextPeriod || 0;\nconst baseExpenses = forecastData.metrics?.expenses?.nextPeriod || 0;\nconst basePayroll = forecastData.metrics?.payroll?.nextPeriod || 0;\n\n// Best Case Scenario: +15% revenue, -5% expenses\nconst bestCase = {\n  scenario: \"Best Case\",\n  revenue: baseRevenue * 1.15,\n  expenses: baseExpenses * 0.95,\n  payroll: basePayroll,\n  netIncome: (baseRevenue * 1.15) - (baseExpenses * 0.95) - basePayroll,\n  assumptions: {\n    revenueChange: \"+15%\",\n    expenseChange: \"-5%\",\n    payrollChange: \"0%\"\n  }\n};\n\n// Likely Case Scenario: Baseline forecast\nconst likelyCase = {\n  scenario: \"Likely Case\",\n  revenue: baseRevenue,\n  expenses: baseExpenses,\n  payroll: basePayroll,\n  netIncome: baseRevenue - baseExpenses - basePayroll,\n  assumptions: {\n    revenueChange: \"0%\",\n    expenseChange: \"0%\",\n    payrollChange: \"0%\"\n  }\n};\n\n// Worst Case Scenario: -10% revenue, +10% expenses\nconst worstCase = {\n  scenario: \"Worst Case\",\n  revenue: baseRevenue * 0.90,\n  expenses: baseExpenses * 1.10,\n  payroll: basePayroll,\n  netIncome: (baseRevenue * 0.90) - (baseExpenses * 1.10) - basePayroll,\n  assumptions: {\n    revenueChange: \"-10%\",\n    expenseChange: \"+10%\",\n    payrollChange: \"0%\"\n  }\n};\n\n// Calculate scenario comparison metrics\nconst scenarioComparison = {\n  netIncomeRange: {\n    best: bestCase.netIncome,\n    likely: likelyCase.netIncome,\n    worst: worstCase.netIncome,\n    spread: bestCase.netIncome - worstCase.netIncome\n  },\n  revenueRange: {\n    best: bestCase.revenue,\n    likely: likelyCase.revenue,\n    worst: worstCase.revenue,\n    spread: bestCase.revenue - worstCase.revenue\n  },\n  expenseRange: {\n    best: bestCase.expenses,\n    likely: likelyCase.expenses,\n    worst: worstCase.expenses,\n    spread: worstCase.expenses - bestCase.expenses\n  }\n};\n\n// Prepare output\nconst output = {\n  scenarios: {\n    bestCase,\n    likelyCase,\n    worstCase\n  },\n  comparison: scenarioComparison,\n  baselineForecasts: {\n    revenue: baseRevenue,\n    expenses: baseExpenses,\n    payroll: basePayroll\n  },\n  originalForecastData: forecastData,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: output }];"
      },
      "id": "9b9887ea-760b-4f37-805d-9200f855ae2c",
      "name": "Scenario Simulation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Anomaly Detection using Statistical Methods\n// Detects values beyond 2 standard deviations, sudden trend changes, and unusual cash flow patterns\n\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{ json: { anomalies: [], message: 'No data to analyze' } }];\n}\n\nconst forecastData = items[0].json;\n\n// Helper function to calculate mean\nfunction calculateMean(data) {\n  if (!data || data.length === 0) return 0;\n  return data.reduce((sum, val) => sum + val, 0) / data.length;\n}\n\n// Helper function to calculate standard deviation\nfunction calculateStdDev(data, mean) {\n  if (!data || data.length === 0) return 0;\n  const variance = data.reduce((sum, val) => sum + Math.pow(val - mean, 2), 0) / data.length;\n  return Math.sqrt(variance);\n}\n\n// Helper function to detect outliers (beyond 2 standard deviations)\nfunction detectOutliers(data, threshold = 2) {\n  if (!data || data.length === 0) return [];\n  \n  const mean = calculateMean(data);\n  const stdDev = calculateStdDev(data, mean);\n  const outliers = [];\n  \n  data.forEach((value, index) => {\n    const zScore = Math.abs((value - mean) / stdDev);\n    if (zScore > threshold) {\n      outliers.push({\n        index: index,\n        value: value,\n        mean: mean,\n        stdDev: stdDev,\n        zScore: zScore,\n        deviation: value - mean\n      });\n    }\n  });\n  \n  return outliers;\n}\n\n// Helper function to detect sudden trend changes\nfunction detectTrendChanges(data, threshold = 0.2) {\n  if (!data || data.length < 3) return [];\n  \n  const changes = [];\n  \n  for (let i = 1; i < data.length - 1; i++) {\n    const prevChange = data[i] - data[i - 1];\n    const nextChange = data[i + 1] - data[i];\n    \n    // Detect reversal or significant acceleration\n    if (prevChange !== 0) {\n      const changeRatio = Math.abs((nextChange - prevChange) / prevChange);\n      \n      if (changeRatio > threshold || (prevChange > 0 && nextChange < 0) || (prevChange < 0 && nextChange > 0)) {\n        changes.push({\n          index: i,\n          value: data[i],\n          previousChange: prevChange,\n          nextChange: nextChange,\n          changeRatio: changeRatio,\n          type: (prevChange > 0 && nextChange < 0) ? 'reversal_down' : \n                (prevChange < 0 && nextChange > 0) ? 'reversal_up' : 'acceleration'\n        });\n      }\n    }\n  }\n  \n  return changes;\n}\n\n// Helper function to detect unusual cash flow patterns\nfunction detectCashFlowAnomalies(revenue, expenses, payroll) {\n  const anomalies = [];\n  \n  for (let i = 0; i < Math.min(revenue.length, expenses.length, payroll.length); i++) {\n    const netCashFlow = revenue[i] - expenses[i] - payroll[i];\n    const expenseRatio = expenses[i] / revenue[i];\n    const payrollRatio = payroll[i] / revenue[i];\n    \n    // Detect negative cash flow\n    if (netCashFlow < 0) {\n      anomalies.push({\n        index: i,\n        type: 'negative_cash_flow',\n        netCashFlow: netCashFlow,\n        severity: 'high'\n      });\n    }\n    \n    // Detect unusually high expense ratio (>80%)\n    if (expenseRatio > 0.8) {\n      anomalies.push({\n        index: i,\n        type: 'high_expense_ratio',\n        ratio: expenseRatio,\n        severity: 'medium'\n      });\n    }\n    \n    // Detect unusually high payroll ratio (>50%)\n    if (payrollRatio > 0.5) {\n      anomalies.push({\n        index: i,\n        type: 'high_payroll_ratio',\n        ratio: payrollRatio,\n        severity: 'medium'\n      });\n    }\n  }\n  \n  return anomalies;\n}\n\n// Extract historical data\nconst revenueData = forecastData.historical?.revenue || [];\nconst expenseData = forecastData.historical?.expenses || [];\nconst payrollData = forecastData.historical?.payroll || [];\n\n// Detect anomalies\nconst revenueOutliers = detectOutliers(revenueData);\nconst expenseOutliers = detectOutliers(expenseData);\nconst payrollOutliers = detectOutliers(payrollData);\n\nconst revenueTrendChanges = detectTrendChanges(revenueData);\nconst expenseTrendChanges = detectTrendChanges(expenseData);\nconst payrollTrendChanges = detectTrendChanges(payrollData);\n\nconst cashFlowAnomalies = detectCashFlowAnomalies(revenueData, expenseData, payrollData);\n\n// Compile results\nconst anomalies = {\n  outliers: {\n    revenue: revenueOutliers,\n    expenses: expenseOutliers,\n    payroll: payrollOutliers\n  },\n  trendChanges: {\n    revenue: revenueTrendChanges,\n    expenses: expenseTrendChanges,\n    payroll: payrollTrendChanges\n  },\n  cashFlow: cashFlowAnomalies,\n  summary: {\n    totalOutliers: revenueOutliers.length + expenseOutliers.length + payrollOutliers.length,\n    totalTrendChanges: revenueTrendChanges.length + expenseTrendChanges.length + payrollTrendChanges.length,\n    totalCashFlowAnomalies: cashFlowAnomalies.length,\n    hasAnomalies: (revenueOutliers.length + expenseOutliers.length + payrollOutliers.length + \n                   revenueTrendChanges.length + expenseTrendChanges.length + payrollTrendChanges.length + \n                   cashFlowAnomalies.length) > 0\n  },\n  timestamp: new Date().toISOString()\n};\n\n// Merge with original forecast data\nconst output = {\n  ...forecastData,\n  anomalies: anomalies\n};\n\nreturn [{ json: output }];"
      },
      "id": "5935b454-f48e-41c3-80ef-4ba40715e285",
      "name": "Anomaly Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "report_title",
              "value": "Financial Forecast Report",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "generated_date",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm') }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "forecast_summary",
              "value": "={{ $json.forecast }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "scenarios",
              "value": "={{ $json.scenarios }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "anomalies",
              "value": "={{ $json.anomalies }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "recommendations",
              "value": "={{ $json.recommendations || 'Review flagged anomalies and scenario impacts' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c773eec4-c618-4390-8b99-04a3a954df2e",
      "name": "Format Executive Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        496
      ]
    },
    {
      "parameters": {
        "sendTo": "<__PLACEHOLDER_VALUE__cfo_email__>",
        "subject": "=Daily Financial Forecast Report - {{ $now.toFormat('yyyy-MM-dd') }}",
        "message": "=<h2>{{ $json.report_title }}</h2><p><strong>Generated:</strong> {{ $json.generated_date }}</p><h3>Forecast Summary</h3><pre>{{ JSON.stringify($json.forecast_summary, null, 2) }}</pre><h3>Scenarios</h3><pre>{{ JSON.stringify($json.scenarios, null, 2) }}</pre><h3>Anomalies Detected</h3><pre>{{ JSON.stringify($json.anomalies, null, 2) }}</pre><p><strong>Recommendations:</strong> {{ $json.recommendations }}</p>",
        "options": {}
      },
      "id": "9509db14-11fa-4990-b200-322bb213dfe3",
      "name": "Send to CFO",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2048,
        496
      ],
      "webhookId": "7efaa58b-b93d-42c5-a6fc-4dfa9b69094b",
      "credentials": {
        "gmailOAuth2": {
          "id": "7XzVweBsCELuvKnd",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Payroll Data": {
      "main": [
        [
          {
            "node": "Combine Financial Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Daily Forecast Schedule": {
      "main": [
        [
          {
            "node": "Fetch Revenue Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Expense Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Payroll Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Revenue Data": {
      "main": [
        [
          {
            "node": "Combine Financial Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Expense Data": {
      "main": [
        [
          {
            "node": "Combine Financial Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Financial Data": {
      "main": [
        [
          {
            "node": "Feature Engineering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feature Engineering": {
      "main": [
        [
          {
            "node": "Forecasting Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forecasting Model": {
      "main": [
        [
          {
            "node": "Scenario Simulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenario Simulation": {
      "main": [
        [
          {
            "node": "Anomaly Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anomaly Detection": {
      "main": [
        [
          {
            "node": "Format Executive Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Executive Report": {
      "main": [
        [
          {
            "node": "Send to CFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e16099e8-9fe4-45c0-b9c1-9c5b562d459c",
  "meta": {
    "instanceId": "03b0dd4ab296928091589e46176b6c3348d387f59d10ea881849980cafc3e8c9"
  },
  "id": "6efktj0N8pZyyalV",
  "tags": []
}